apiVersion: apps/v1
kind: Deployment
metadata:
  name: transaction-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: transaction-service
  template:
    metadata:
      labels:
        app: transaction-service
    spec:
      containers:
        - name: transaction-service
          image: transaction-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 4001
          env:
            - name: SERVER_PORT
              value: "4001"
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:mysql://mysql:3306/elevens-bank"
            - name: SPRING_DATASOURCE_USERNAME
              value: "root"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "root"
            - name: ACCOUNT_SERVICE_URL
              value: "http://account-service:3001"
---
apiVersion: v1
kind: Service
metadata:
  name: transaction-service
spec:
  selector:
    app: transaction-service
  ports:
    - protocol: TCP
      port: 4001
      targetPort: 4001
