spring:
  application:
    name: kyc-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/kyc_db
  main:
    allow-bean-definition-overriding: true

server:
  port: 8086

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  tracing:
    sampling:
      probability: 1.0
