spring:
  application:
    name: kyc-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/elevens-bank
  main:
    allow-bean-definition-overriding: true
  config:
    import: vault://
  cloud:
    vault:
      uri: http://localhost:8200
      authentication: token
      token: root # In production, use ENV VARS
      kv:
        enabled: true
      transit:
        enabled: true

server:
  port: 8086

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  tracing:
    sampling:
      probability: 1.0
